{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "proseWrap": "never",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true,
        "singleAttributePerLine": false,
        "jsxBracketSameLine": true,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
