.nv-snippet-window-wrapper.svelte-cqc4oo {
    position: absolute;
    font-size: .875rem;
    font-family: var(--nv-monospace-font)
}

.nv-snippet-window-wrapper.is-noninteractable.svelte-cqc4oo {
    opacity: 1;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    transition: opacity .1s ease, filter .1s ease
}

.nv-snippet-window-wrapper.is-noninteractable.svelte-cqc4oo:hover {
    opacity: .3;
    filter: blur(2px)
}

.is-selectable.svelte-10kv6jm .nv-completion-item.svelte-10kv6jm:hover {
    background: var(--nv-bg-light) !important
}

#nv-terminal {
    height: 600px;
    max-width: 700px;
    box-shadow: 0 4px 8px -2px #0f111a29, 0 10px 15px -4px #0f111a29, 0 30px 32px -15px #0f111a29, 0 60px 64px -25px #0f111a29
}

#nv-terminal.svelte-1dfudv>.nv-code-content.svelte-1dfudv .line {
    min-width: 60ch
}

.nv-terminal-tabs.svelte-1dfudv.svelte-1dfudv {
    display: flex;
    border-radius: 8px 8px 0 0;
    padding: 0 4px;
    border-bottom: 1px solid #444
}

button.nv-terminal-tab.svelte-1dfudv.svelte-1dfudv {
    position: relative;
    font-family: inherit;
    border: 0;
    background: none;
    color: #99a;
    font-size: 1rem;
    padding: .5rem .75rem
}

button.nv-terminal-tab.is-active.svelte-1dfudv.svelte-1dfudv {
    color: #dde
}

button.nv-terminal-tab.is-active.svelte-1dfudv.svelte-1dfudv:after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: calc(.75rem - 2px);
    right: calc(.75rem - 2px);
    content: "";
    border-bottom: 1px solid #ffffff7f
}

button.nv-terminal-tab.svelte-1dfudv.svelte-1dfudv:hover {
    color: #dde
}
