@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.nv-code {
  display: flex;
  flex-direction: column;
  --nv-color: #f9fafc;
  --nv-monospace-font: 'Source Code Pro', 'Monaco', 'Consolas', monospace;
  --nv-bg: #27292e;
  --nv-bg-light: #373a3f;
  --nv-border-color: rgb(73, 76, 95);
  width: 100%;
  font-size: 0.875rem;
  font-family: var(--nv-monospace-font);
  line-height: 1.35;
  color: var(--nv-color);
  border: 1px solid #555;
  background: var(--nv-bg);
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(17, 19, 33, 0.4);
}

.nv-code kw {
  color: rgb(255 225 77);
}
.nv-code fn {
  color: rgb(255 51 222);
}
.nv-code str {
  color: rgb(0 213 255);
}
.nv-code id {
  color: #ffcc4a;
}
.nv-code sp {
  color: #6fedb7;
}
.nv-code const {
  color: #b486fd;
}
.nv-code comment {
  color: #8f9397;
}

.nv-code .nv-code-content {
  padding: 0.75rem;
  overflow: auto;
  flex: 1;
}

.nv-code .line {
  display: block;
  font-family: var(--nv-monospace-font);
  margin: 0;
  white-space: pre;
}

.nv-code .line-number {
  display: inline-block;
  font-family: var(--nv-monospace-font);
  width: 2ch;
  text-align: right;
  margin-right: 1ch;
  opacity: 0.5;
  user-select: none;
}

.nv-code .nv-completion-heading {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background: var(--nv-bg-light);
}

.nv-code .nv-completion-items {
  padding: 0.25rem 0;
}

.nv-code .nv-completion-item {
  padding: 0.25rem 0.5rem;
  white-space: pre-wrap;
}

.nv-code .nv-completion-item.is-active {
  background-color: var(--nv-bg-light);
}

.nv-code .nv-completion-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25rem 0;
}

.nv-code .nv-completion-description {
  padding: 0.5rem 0.5rem;
  border-top: 1px solid var(--nv-border-color);
}

.nv-code .nv-cursor {
  font-family: var(--nv-monospace-font);
  color: white;
  position: absolute;
  transform: translateX(-45%);
  font-size: 0.875rem;
  animation: nv-cursor-blinker 1s step-start infinite;
}

.nv-code .nv-cursor::before {
  content: '│';
}

.nv-code span.hover {
  background-color: var(--nv-bg-light);
  outline: 1px solid #aac;
}

.nv-code span.hover.is-active {
  background-color: var(--nv-bg);
}

.nv-code .nv-snippet-window {
  font-size: 0.875rem;
  font-family: var(--nv-monospace-font);
  display: block;
  background-color: var(--nv-bg);
  border: 1px solid var(--nv-border-color);
  border-radius: 5px;
  min-width: 20ch;
  max-width: 50ch;
  whitespace: pre-wrap;
  overflow-wrap: break-word;
  box-shadow: 0px 1px 2px 1px rgba(17, 19, 33, 0.3);
}

.nv-code .nv-snippet-window.is-pop {
  animation: nv-snippet-window-pop-in 0.3s forwards ease;
}

@keyframes nv-snippet-window-pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes nv-cursor-blinker {
  50% {
    opacity: 0;
  }
}
