#sidebar {
    top: 12rem;
}

#content-side-layout {
    top: 14rem;
}

#content-container > div {
    padding-top: 14.5rem;
}

/* Remove the logo */
#navbar > div#primary-nav + div a[href="/"] {
    display: none;
}
#navbar > div#primary-nav + div div.relative {
    margin-left: 0;
}
