#sidebar {
    top: 12rem;
}

#content-side-layout {
    top: 14rem;
}

#content-container > div {
    padding-top: 14.5rem;
}

/* Remove the logo */
#navbar img[alt="light logo"], #navbar img[alt="dark logo"] {
    display: none;
}

#navbar .gap-x-4 {
    column-gap: 0;
}

#navbar > div#primary-nav + div div.relative {
    margin-left: 0;
}
