@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import '@scalar/api-client-react/style.css';
@import 'fumadocs-twoslash/twoslash.css';

@source '../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../node_modules/fumadocs-openapi/dist/**/*.js';
@plugin 'tailwindcss-animate';

@layer base {
  article {
    @apply !px-5 md:!px-8;
  }

  header div[data-theme-toggle] {
    display: none !important;
  }

  a:hover {
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  .prose p {
    line-height: 1.625;
    color: var(--foreground);
    margin-bottom: 12px;
  }

  .line.highlighted {
    background-color: rgb(243, 240, 255) !important;
    border-left: 1px solid #5746af !important;
  }

  button[aria-label='Collapse Sidebar'] {
    display: none !important;
  }

  body {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    overscroll-behavior-y: none;
    background-color: var(--page-background) !important;
  }

  article:has(#api-page) {
    max-width: 1000px !important;
  }

  .fd-step::before {
    left: -45px !important;
  }

  header > div > div > div.flex.flex-row.items-center.gap-6.px-4 {
    width: 100% !important;
  }
}

@theme {
  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }
    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-weight-normal: 400;

  --color-repeat-gradient-to-r: repeating-linear-gradient(to right, var(--tw-gradient-stops));
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

:root {
  --headless-color: hsl(250, 80%, 54%);
  --ui-color: hsl(220, 91%, 54%);

  --background: 0 0% 100%;
  --foreground: 250 3% 35%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --page-background: #ffffff;
  --sidebar-bg: #ffffff;
  --sidebar-item-inactive-text: #00000099;
  --sidebar-item-inactive-text-hover: #000000;
  --sidebar-item-active-text: #4b73ec;
  --sidebar-item-inactive-border: #e6e6e6;

  --navbar-item-inactive-text: #00000099;
  --navbar-item-inactive-text-hover: #000000;
  --navbar-item-active-text: #000000;
  --navbar-item-active-border: #4b73ec;

  --toc-header-text: #000000;
}

.dark {
  --headless-color: hsl(250 100% 80%);
  --ui-color: hsl(217 92% 76%);

  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  --page-background: #05050b;
  --sidebar-bg: #05050b;
  --sidebar-item-inactive-text: #ffffff99;
  --sidebar-item-inactive-text-hover: #ffffff;
  --sidebar-item-active-text: #00d5ff;
  --sidebar-item-inactive-border: #262626;

  --navbar-item-inactive-text: #ffffff99;
  --navbar-item-inactive-text-hover: #ffffff;
  --navbar-item-active-text: #ffffff;
  --navbar-item-active-border: #00d5ff;

  --toc-header-text: #ffffff;
}

.uwu {
  --color-fd-background: hsl(240 80% 94%) !important;
  --color-fd-popover: hsl(240 80% 94%) !important;
  --color-fd-primary: hsl(230 90% 72%) !important;
  --color-fd-border: hsl(230 30% 87%) !important;
  --color-fd-accent: hsl(250 80% 90%) !important;
  --color-fd-secondary: hsl(230 40% 94%) !important;
  --color-fd-muted: hsl(230 80% 92%) !important;
  --color-fd-card: hsl(230 90% 94%) !important;
}

.uwu.dark {
  --color-fd-background: hsl(240 40% 20%) !important;
  --color-fd-primary: hsl(250 70% 94%) !important;
  --color-fd-popover: hsl(240 20% 20%) !important;
  --color-fd-border: hsl(230 30% 30%) !important;
  --color-fd-muted: hsl(230 30% 36.3%) !important;
  --color-fd-secondary: hsl(250 30% 36.3%) !important;
  --color-fd-accent: hsl(250 20% 38.3%) !important;
  --color-fd-muted-foreground: hsl(230 80% 84%) !important;
  --color-fd-card: hsl(230 40% 26.3%) !important;
}

/* Navigation active states */
a[data-active='true'] {
  color: var(--color-fd-primary);
}

/* Sidebar states */
aside {
  background-color: var(--sidebar-bg) !important;

  a[data-active='false'] {
    color: var(--sidebar-item-inactive-text);
    background: transparent;
  }

  a[data-active='false']:hover {
    color: var(--sidebar-item-inactive-text-hover);
    background: transparent;
  }

  a[data-active='true'] {
    color: var(--sidebar-item-active-text);
    background: transparent;
  }

  a[data-active='true'] > div.absolute.bg-fd-primary {
    background-color: var(--sidebar-item-active-text);
  }

  button[data-state] {
    background: transparent;
  }

  button[data-state]:hover {
    color: var(--sidebar-item-inactive-text-hover);
  }

  div[data-state='open'] div.absolute.bg-fd-border {
    background-color: var(--sidebar-item-inactive-border);
  }
}

/* Navbar states */
main > header:first-of-type {
  background-color: var(--sidebar-bg) !important;

  a[data-active='true'] {
    color: var(--navbar-item-active-text);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -18.5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--navbar-item-active-border);
    }
  }

  a[data-active='false'] {
    color: var(--navbar-item-inactive-text);
  }

  a[data-active='false']:hover {
    color: var(--navbar-item-inactive-text-hover);
  }
}

/* TOC states */
div#nd-toc {
  h3 {
    color: var(--toc-header-text);
  }

  a {
    color: var(--sidebar-item-inactive-text);
  }

  a:hover {
    color: var(--sidebar-item-inactive-text-hover);
  }

  a[data-active='true'] {
    color: var(--sidebar-item-active-text);
  }

  div div.border-s {
    border-color: var(--sidebar-item-inactive-border);
  }

  a[data-active='false'] div.w-px.absolute {
    color: var(--sidebar-item-inactive-border);
  }

  a[data-active='true'] div.w-px.absolute {
    color: var(--sidebar-item-active-text);
  }

  div[data-radix-scroll-area-viewport] div.absolute > div.bg-fd-primary {
    background-color: var(--sidebar-item-active-text);
  }
}
