@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';
@import '@scalar/api-client-react/style.css' layer(base);


@source '../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../node_modules/fumadocs-openapi/dist/**/*.js';
@plugin 'tailwindcss-animate';

@layer base {
  button {
    cursor: pointer;
  }

  p {
    line-height: 1.625;
    color: (--foreground);
    margin-bottom: 12px;
  }

  body {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
  }
}

@theme {
  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }
    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-weight-normal: 300;
  
  --color-repeat-gradient-to-r: repeating-linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}


:root {
  --fd-article-max-width: 720px;
  --headless-color: hsl(250, 80%, 54%);
  --ui-color: hsl(220, 91%, 54%);

  --background: 0 0% 100%;
  --foreground: 250 3% 35%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
 
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
 
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
 
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
 
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
 
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
 
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
 
  --radius: 0.5rem;
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --headless-color: hsl(250 100% 80%);
  --ui-color: hsl(217 92% 76%);

  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
 
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
 
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
 
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
 
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
 
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
 
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
 
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
 
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

.uwu {
  --color-fd-background: hsl(240 80% 94%) !important;
  --color-fd-popover: hsl(240 80% 94%) !important;
  --color-fd-primary: hsl(230 90% 72%) !important;
  --color-fd-border: hsl(230 30% 87%) !important;
  --color-fd-accent: hsl(250 80% 90%) !important;
  --color-fd-secondary: hsl(230 40% 94%) !important;
  --color-fd-muted: hsl(230 80% 92%) !important;
  --color-fd-card: hsl(230 90% 94%) !important;
}

.uwu.dark {
  --color-fd-background: hsl(240 40% 20%) !important;
  --color-fd-primary: hsl(250 70% 94%) !important;
  --color-fd-popover: hsl(240 20% 20%) !important;
  --color-fd-border: hsl(230 30% 30%) !important;
  --color-fd-muted: hsl(230 30% 36.3%) !important;
  --color-fd-secondary: hsl(250 30% 36.3%) !important;
  --color-fd-accent: hsl(250 20% 38.3%) !important;
  --color-fd-muted-foreground: hsl(230 80% 84%) !important;
  --color-fd-card: hsl(230 40% 26.3%) !important;
}

@keyframes circuit_1 {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes circuit_1_x_energy {
  0%,
  46% {
    opacity: 0;
    transform: translateX(-20px);
  }
  47%,
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    transform: translateX(212px);
  }
}

/* Navigation active states */
a[data-active="true"] {
  color: var(--color-fd-primary);
}